@import "_reset";
@import "_variables";

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: $red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

img {
  width: 300px;
}

footer {
  display: none;
}

h1 {
  margin-top: 10px;
  color: white;
  font-size: 30px;
  font-weight: 100;
}
